.container{
    border: 1px solid;
    margin-top: 90px;
    padding-right: auto;
    margin-left: 50px;

}

#header{
    margin: 10px;
    font-size: 45px;
    font-family: monospace;
    font-weight: bolder;
    color: lightcoral;
}

h2{
    color: white;
}

#button{
    margin: 10px;

}

.fa{
    color: lightcoral;
}

.btn-primary{
    background-color: lightcoral;
    border: lightcoral;
}