h2{
    color: white;
}
.container{
    
    
}

.card{
    margin: 60px;
}

img{
    margin-bottom: 10px;

}

.card-title{
    font-size: 45px;
    font-family: monospace;
    font-weight: bolder;
    color: lightcoral;
}

.container-fluid{
    border-top-color: lightcoral
}

.fa{
    font-size: 15px;
    font-family: monospace;
    font-weight: bolder;
    color: lightcoral;
}
